# ==========================================================================
#  111122223333 - IAM User: backend.tf
# --------------------------------------------------------------------------
#  Description:
#    Store Terraform State to S3
# --------------------------------------------------------------------------
#    - S3 Bucket Path
#    - DynamoDB Table
# ==========================================================================

# --------------------------------------------------------------------------
#  Store Path for Terraform State
# --------------------------------------------------------------------------
terraform {
  backend "s3" {
    region         = "us-west-2"
    bucket         = "tf-state-111122223333-us-west-2"
    dynamodb_table = "ddb-tf-state-111122223333-us-west-2"
    key            = "devopscorner/111122223333/iam-user/terraform.tfstate"
    encrypt        = true
  }
}
